header,
footer {
  border: 1px solid rgb(42, 5, 63);
  padding: 2px;
  background-color: rgb(77, 39, 99);
}
body {
  display: flex;
  flex-flow: row;
  min-height: 100vh;
}
.menu .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 10vh;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: stretch;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: beige;
}
main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.heading {
  color: royalblue;
  font-size: large;
  font-family: "Roboto", sans-serif;
}
.container .photo {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background-color: aquamarine;
  border: 5px solid slateblue;
}
.photo {
  width: 300px;
  height: 250px;
  margin: 10px;
  padding: 5px;
}
aside .photos {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 104, 82);
  border: 5px solid royalblue;
  width: 30vh;
}
.photos {
  width: 300px;
  height: 250px;
  margin: 10px;
  padding: 5px;
}
section {
  flex: 1;
}
