h1,
h2,
h3 {
  color: antiquewhite;
  position: relative;
}
a,
u {
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  padding: 20px;
  color: antiquewhite;
  background-color: #7b68ee;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
}
.menu ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  margin-right: 20px;
}
.menu li:first-child {
  margin-left: 20px;
}
.menu a {
  padding: 0 10 px;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: stretch;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cols {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -10px;
}
.col {
  flex-basis: 25%;
  margin: 0 10px;
}
.flexcontainer {
  display: flex;
  width: 50vw;
  height: 40vh;
}
img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  height: 150px;
}
.aside {
  flex-flow: wrap;
  align-items: center;
  border: #7b68ee solid 3px;
  width: 20vw;
}
.footer {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100vw;
  height: 10vh;
  text-align: center;
  text-decoration: none;
  background-color: rgb(255, 230, 0);
}
