h1,
h2,
h3 {
  color: antiquewhite;
  position: relative;
}
a,
u {
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  width: 100vw;
  height: 10vh;
  color: antiquewhite;
  background-color: #7b68ee;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: stretch;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px;
}
.menu {
  display: inline;
  justify-content: flex-end;
}
.section1 {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-color: #7b68ee;
}
.flexcontainer {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 25vw;
  height: 30vh;
}
.photo {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 200px;
  height: 150px;
}
.aside {
  flex-flow: wrap;
  align-items: center;
  border: #7b68ee solid 3px;
  width: 20vw;
}
.photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 150px;
  margin: 10px;
  padding: 10px;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100vw;
  height: 15vh;
  text-align: center;
  text-decoration: none;
  background-color: yellow;
}
